* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.banner {
    width: 80vw;
    height: 100vh;
    background: url("assets/background.jpg");
    background-size: 40vw 100vh;
}   

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6e6e6;
}

.header {
    padding: 30px;
}

.body {
    background-color: white;
}

form {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    padding: 10px 30px;
}

label {
    display: block;
    font-size: 18px;
}

input {

}

.footer {
    padding: 30px;
}

button {
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 25px;
}



