* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.banner {
    width: 80vw;
    height: 100vh;
    background: url("assets/background.jpg");
    background-size: 40vw 100vh;
}   

.sign-up {
    display: flex;
    flex-direction: column;
}